$color-primary: #2173d2;
$color-secondary: #2ea2e5;
$color-text: #000000;
$color-accent: #fadb00;
$color-line: #ffce00;
$color-bg: #ffffff;
$color-dark-bg: #333333;
$color-light-bg: #5f7889;
$color-under: #ec6a32;
$color-euro: #fcac1f;
$color-theme: #25bb1e;
$color-news: #ff4122;
